// main: ./style.scss;
@import "_flex";
@import "_mixin"; // @include fontstyle(22,normal,center,#808080);
// @include wrapauto(960px);

.single {
  main {
    .sec {
      margin-bottom: 40px;
      @include fontstyle(16, normal, left, #555);

      //screen-nodesktop
      @include screen-nodesktop {
        width: 94%;
        margin-right: auto;
        margin-left: auto;
      }

      //screen-nodesktop


      &__tit {
        @include fontstyle(22, bold, left, #555);
        line-height: 1;
        padding: 15px 20px;
        border-top: 2px solid #e02522;
        border-bottom: 1px solid #4d4d4d;

        //screen-notablet
        @include screen-notablet {
          @include fontsize(18);
          padding: 15px;
        }

        //screen-notablet
      }


    }
  }
}