//---------- 幅 ----------
$width: 960px;
$width-wide: 1280px;
$width-max: 1366px;
$width-m-sp: 20px; // スマホ左右マージン

//---------- 色の設定 ----------
$color_font: #333333; // 基本文字色
$color_light-brown: #A68563; // サイトカラー
$color_dark-brown: #806346; // サイトカラー
$color_light-orange: #FABA6B; // サイトカラー
$color_dark-orange: #FF9D26; // サイトカラー
$color_orange-gray: #FAF6F0; // サイトカラー
$color_light-gray: #EDE8E1; // サイトカラー
$color_beige: #c4a07c; // サイトカラー